doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MagicShifter!
    //Spread the ♥
    link(
      rel='icon'
      href='/favicon.ico'
    )
    meta(
      name='description'
      content='MagicShifter - the Open Source Digital Magic Lamp! for Lighting, Gaming, and POV Applications.'
    )
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    link(
      rel='stylesheet'
      href='/css/main.css'
    )

  body(id='♥')
    include header
    article
      block content
        div no content

    include footer

    script.
      var d = document;
      var b = d.body;
      var s = d.createElement('script');
      b.className = b.className.replace('nojs', 'js');
      s.src = '/js/index.js';
      b.appendChild(s);
