doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MagicShifter!
    //
      Spread the ♥
         __  ___             _       ____ __    _  ___ __
        /  |/  /___ _ ___ _ (_)____ / __// /   (_)/ _// /_ ___  ____
       / /|_/ // _ `// _ `// // __/_\ \ / _ \ / // _// __// -_)/ __/
      /_/  /_/ \_,_/ \_, //_/ \__//___//_//_//_//_/  \__/ \__//_/
                    /___/

      Contributors:          - github:   - homepage:
      Philipp Tiefenbacher   - wizard23  - http://wizards23.net
      Florian Bittner        - overflo23 - http://hackerspaceshop.com/
      Jascha Ehrenreich      - jaeh      - https://jaeh.at
      Tom Peak               - TomPeak   - http://www.tompeak.com/
      Phileas Lebada         - norpol    - http://exaple.org/

      Thanks to the various others :)

    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    )
    link(
      rel='icon'
      href='/favicon.ico'
    )
    meta(
      name='description'
      content='MagicShifter - the Open Source Digital Magic Lamp! for Lighting, Gaming, and POV Applications.'
    )
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    link(
      rel='stylesheet'
      href='/css/main.css')

  body(id='♥')
    include header
    article
      block content
        div no content

    include footer

    script.
      var d = document;
      var b = d.body;
      var s = d.createElement('script');
      b.className = b.className.replace('nojs', 'js');
      s.src = '/js/index.js';
      b.appendChild(s);

    if env === 'development'
      script(src='http://localhost:35729/livereload.js')
