doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(
      rel='icon'
      href='./favicon.ico'
    )

    title Magicshifter the Open Source Magic Lamp!

    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    )

    meta(
      name='description'
      content='MagicShifter - the Open Source Digital Magic Lamp! for Lighting, Gaming, and POV Applications.'
    )

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )

    link(rel='stylesheet' href='./css/v1/main.css')

  body
    article
      block content
        div no content

    script(src='./js/v1/v1.js')
