section#about
  div.container
    a(href='/')
      img#logo(
        src=dirs.v1.img + 'logo.png'
        alt='magicshifter'
      )

    div.desc
      h1
        span MagicShifter
        span  -
        span  the Open Source Magic Lamp!

      p It's an open source hardware gadget for lighting, gaming, and POV applications.
      p Charge and reprogram it over USB!
      p
        | Get one of the limited first batch
        a(
          href='http://www.hackerspaceshop.com/magicshifter.html'
        ) @hackerspaceshop

    div.shop
      a(href='http://www.hackerspaceshop.com/magicshifter.html' target='hackerspaceshop')
        span Get it now @
        span: img(
          src=dirs.v1.img + 'hackerspaceshop.png'
          alt='hackerspaceshop.com'
        )
