section#technical
  div.container
    h2 Technical Features
    table(cellspacing="0" cellpadding="0")
      thead
        tr
          th Description
          th Id
          th Datasheet
      tbody
        tr
          td 8 bit Microcontroller with integrated USB
          td: Atmega32U4-MU
          td: a(href=static_dir + "datasheets/atmega32u4.pdf") PDF
        tr
          td 3 Axis Accelerometer
          td MMA8452QT
          td: a(href=static_dir + "datasheets/MMA8451Q.pdf") PDF
        tr
          td 16 / RGB LEDS
          td CLV6A-FKB
          td: a(href=static_dir + "datasheets/CLV6AFKB.pdf") PDF
        tr
          td Color Sensor with Proximity Sensing
          td TCS3771
          td: a(href=static_dir + "datasheets/TCS3771-A.pdf") PDF
        tr
          td UV LED, 395 nm
          td SM1206UV-395-IL
          td: a(href=static_dir + "datasheets/SM1206UV-395-IL.pdf") PDF
        tr
          td High Power White LED
          td LUW CN5M-GAHA-5P7R-1
          td: a(href=static_dir + "datasheets/LUW_CN5M_OSLON_SX.pdf") PDF
        tr
          td High Power Infrafred LED (for proximity sensing & IR remote control)
          td HIR11-21C/L11/TR8
          td: a(href=static_dir + "datasheets/SFH464X.pdf") PDF
        tr
          td SPI EEPROM, 8 MBit
          td SST25VF080B-80-4I-SAE
          td: a(href=static_dir + "datasheets/EEPROM8Mbit.pdf") PDF
        tr
          td I2C Real-Time Clock
          td MCP79410-I/MS
          td: a(href=static_dir + "datasheets/MCP7941X.pdf") PDF
        tr
          td 2x 24 Channel, 12 bit PWM LED Driver (for RGB LEDs)
          td TLC5947
          td: a(href=static_dir + "datasheets/tlc5947.pdf") PDF
        tr
          td 2x 32-Step LED Driver (for UV & white LEDs)
          td AHK3292
          td: a(href=static_dir + "datasheets/ahk3292.pdf") PDF

