mixin gallery(pics)
  section.gallery
    ul
      each pic in pics
        li
          span(class=pic)

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MagicShifter!
    //Spread the ♥
    link(
      rel='icon'
      href=`${WEB_ROOT}favicon.ico`
    )
    meta(
      name='description'
      content='MagicShifter - the Open Source Digital Magic Lamp! for Lighting, Gaming, and POV Applications.'
    )
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )
    link(
      rel='stylesheet'
      href=`${WEB_ROOT}main.css`
    )

  body(id='♥')
    block header

    article
      block content
        div no content

    include footer

    script(src=`${WEB_ROOT}js/index.js`)
