extends layout.jade

block content
	section#video
		h2 The MagicShifter Video!

		div#player: iframe(src="https://www.youtube.com/embed/0MjIy2lzaDo" frameborder="0" allowfullscreen="allowfullscreen")

		p Watch this video to learn more about the features and sensors and how to use the MagicShifter.

	section.gallery.first
		ul
			li: img(src=img_dir + "magic_icons/giraffe.jpg")
			li: img(src=img_dir + "magic_icons/1up_green.jpg")
			li: img(src=img_dir + "magic_icons/heart.jpg")

	section#upload
		div#images
			h2 Upload your own images!
			p There is a webapp (runs offline too) to convert your own images to display them on the MagicShifter. You even can create animations if you like.
			p 
				| Find more examples in the 
				a(href="http://www.flickr.com/photos/wizard23/sets/72157632220498947/detail/") picture blog 
				| on flickr.

			p.btns
				a.btn(href=root_dir +"bitmap.html") Bitmap Converter
				a.btn(href=root_dir + "font.html") Font Converter
				a.btn(href=static_dir + "/UserManualMagicShifter.pdf") MagicShifter Manual (pdf)
				a.btn(href="https://docs.google.com/document/d/1_cqh2J4C_Npqz5KXsosdRo691K8Sucw97ZeopUi3K8k/", target="gdocs") MagicShifter Manual (google docs)
		
	section.gallery.second
		ul
			li: img(src=img_dir + "magic_icons/space_invader.jpg")
			li: img(src=img_dir + "magic_icons/mario.jpg")
			li: img(src=img_dir + "magic_icons/nyan_cat.jpg")

	section#program
		div.container
			h2 Reprogram the Source Code!
			p The code is a little rough at the edges and atm only the make file based tool chain is available. 
			p We're working on integrating the MagicShifter into the Arduino IDE.
			p.btns
				a.btn(href="https://bitbucket.org/wizard23/magicshifteros" target="utopia") Download it!
			p
				a(href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="gnutopia")
					img(src=img_dir + "gnugpl.png" alt="Gnu GPL")
			
	section.gallery.third
		ul
			li: img(src=img_dir + "magic_icons/29c3.jpg")
			li: img(src=img_dir + "magic_icons/pointer.jpg")
			li: img(src=img_dir + "magic_icons/dragon.jpg")

	section#technical
		div.container
			h2 Technical Features
			table(cellspacing="0" cellpadding="0")
				thead
					tr
						th Description
						th Id
						th Datasheet
				tbody
					tr
						td 8 bit Microcontroller with integrated USB
						td: Atmega32U4-MU
						td: a(href=static_dir + "datasheets/atmega32u4.pdf") PDF
					tr
						td 3 Axis Accelerometer
						td MMA8452QT
						td: a(href=static_dir + "datasheets/MMA8451Q.pdf") PDF
					tr
						td 16 / RGB LEDS
						td CLV6A-FKB
						td: a(href=static_dir + "datasheets/CLV6AFKB.pdf") PDF
					tr
						td Color Sensor with Proximity Sensing
						td TCS3771
						td: a(href=static_dir + "datasheets/TCS3771-A.pdf") PDF
					tr
						td UV LED, 395 nm
						td SM1206UV-395-IL
						td: a(href=static_dir + "datasheets/SM1206UV-395-IL.pdf") PDF
					tr
						td High Power White LED
						td LUW CN5M-GAHA-5P7R-1
						td: a(href=static_dir + "datasheets/LUW_CN5M_OSLON_SX.pdf") PDF
					tr
						td High Power Infrafred LED (for proximity sensing & IR remote control)
						td HIR11-21C/L11/TR8
						td: a(href=static_dir + "datasheets/SFH464X.pdf") PDF
					tr
						td SPI EEPROM, 8 MBit
						td SST25VF080B-80-4I-SAE
						td: a(href=static_dir + "datasheets/EEPROM8Mbit.pdf") PDF
					tr
						td I2C Real-Time Clock
						td MCP79410-I/MS
						td: a(href=static_dir + "datasheets/MCP7941X.pdf") PDF
					tr
						td 2x 24 Channel, 12 bit PWM LED Driver (for RGB LEDs)
						td TLC5947
						td: a(href=static_dir + "datasheets/tlc5947.pdf") PDF
					tr
						td 2x 32-Step LED Driver (for UV & white LEDs)
						td AHK3292
						td: a(href=static_dir + "datasheets/ahk3292.pdf") PDF
						

	section.gallery.fourth
		ul
			li: img(src=img_dir + "magic_icons/circles.jpg") 
			li: img(src=img_dir + "magic_icons/smiley.jpg") 
			li: img(src=img_dir + "magic_icons/shadows.jpg")

	section#contact
		h2 Questions? Just contact us!
		p 
			| If you have questions or suggestions just contact us per 
			a(href="mailto:wizards23+magicshifter@gmail.com") email.

		p 
			| Found a bug on this homepage?  
			a(href="https://github.com/magicshifter/magicshifter.net" target="utopia") file an issue on github.

	footer.main 
		div#imprint
			| created by 
			a(href="https://metalab.at/wiki/Benutzer:Wizard23" target="wizard23") wizard23
			| @ 
			a(href="http://www.metalab.at" target="metalab")
				img(src=img_dir + "metalab.png" alt="Metalab")
		
		div#aws
			span supported by 
			a(href="http://www.awsg.at/kreativwirtschaft" target="aws")
				img(src=img_dir + "aws-logo.jpg")
